/* Place CSS styles here */
body {
    color: darkblue;
    background-color: lavender;
    font-size: 30px;
    font-family: sans-serif;
    padding: 48px 128px;
    text-align: center;
    background-image: url(../img/background.jpg);
}

.snow-day {
    color: purple;
}

.snow-angel {
    color: black;
}