/* Place CSS styles here */
body {
    color: darkblue;
    background-color: lavender;
    font-size: 30px;
    font-family: sans-serif;
    padding: 48px 128px;
    background-image: url(../img/background.jpg);
    font-size: medium;
}

h1 {
    text-align: center;
    font-size: 2rem;
    font-style: italic;
    font-weight: 400;
    text-transform: capitalize;
    text-decoration:underline;
    text-shadow: 2px 2px 4px blue;
    line-height: 0.8;
    letter-spacing: 4px;
    word-spacing: 4px;
}

.snow-day {
    color: purple;
}

.snow-angel {
    color: black;
}

a:hover {
    color: forestgreen;
}

/* comment */